.mes_scheduleTable__menuPaper {
	background-color: var(--contextMenuBackground);
	border-color: var(--contextMenuBorderColor);
}

.mes_scheduleTable__menuItemRoot {
	background-color: var(--contextMenuBackground);
	color: var(--contextMenuColor);
	font-size: var(--contextMenuFontSize);
}

.mes_scheduleTable__menuItemRoot:hover {
	background-color: var(--contextMenuHoverBackground);
}

.mes_scheduleTable__menuItemRoot:hover .MuiListItemIcon-root, .mes_scheduleTable__menuItemRoot:hover .MuiListItemText-primary {
	color: var(--contextMenuHoverColor);
}