
.mes_mesRadio__formControl {
	background: var(--radioGroupBackground);
	border-color: var(--radioGroupBorderColor);
}

.mes_mesRadio__formControl .MuiRadio-root {
	color: var(--inputRadioColor);
}

.mes_mesRadio__formControl .MuiRadio-root:hover {
	background: var(--inputRadioHoverBackground);
}

.mes_mesRadio__formLabel {
	color: var(--radioGroupLabelColor);
	font-size: var(--radioGroupLabelFontSize);
}

.mes_mesRadio__formControlLabel {
	background: var(--inputRadioLabelBackground);
	color: var(--inputRadioLabelColor);
	margin-left: 0px;
}

.mes_mesRadio__formControlLabel .MuiFormControlLabel-label {
	font-size: var(--inputRadioLabelFontSize);
}