.oee_runDirector__main {
	background-color: var(--background);
	display: flex;
	height: auto;
}

.oee_runDirector__toolbar {
	align-items: center;
	min-height: 48px;
	padding-left: 16px;
	padding-right: 0;
}

.oee_runDirector__buttonSecondaryColor {
	fill: var(--buttonGroup3HoverBackground);
}

.oee_runDirector__buttonAltBackgroundColor {
	fill: var(--altBackground);
}

.oee_runDirector__buttonErrorColor {
	fill: var(--errorColor);
}